language: python

python:
  - 2.7

env:
  - DJANGO_VERSION=1.4.1
  - DJANGO_VERSION=1.4.2
  - DJANGO_VERSION=1.4.3

before_install:
  - sudo apt-get install -y libxml2-dev libxslt-dev

script: python manage.py test --settings=associados.settings_test --verbosity=2
install: 
  - pip install -r requirements_test.txt --use-mirrors
  - pip install -r requirements.txt --use-mirrors
