language: python

python:
  - 3.5

env:
  - DJANGO_VERSION=1.10.1

addons:
  apt:
    packages:
      libxml2-dev
      libxslt-dev

sudo: false

branches:
  only:
    - master

script:
  - coverage run --source=app manage.py test --settings=associados.settings_test --verbosity=2

cache: pip

install:
  - pip install -r requirements_test.txt 
  - pip install coveralls 

after_success: coveralls
