{% extends 'base.html' %}
{% load i18n %}
{% block navbar_login %}<li class="active"><a href="{% url auth-login %}">{% trans "Login" %}</a></li>{% endblock %}

{% block content %}
    <div class="content">
        {% if form.errors %}
            <div class="alert alert-block fade in">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p><strong>{% trans "Oh snap!" %}</strong> {% trans "Please enter a correct username and password. Note that both fields are case-sensitive." %}</p>
                <p><strong>{% trans "Your first time here?!" %} <a href="{% url django.contrib.auth.views.password_reset %}">{% trans "Reset your password before login!" %}</a></p>
            </div>
        {% else %}
            <div class="alert alert-block fade in">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    <p>{% trans "Passwords are lost during migration from old system. Please " %}<a href="{% url django.contrib.auth.views.password_reset %}">{% trans "reset your password" %}</a>.</p>
            </div>
        {% endif %}
        <form action="{% url django.contrib.auth.views.login %}" method="post" id="login-form">{% csrf_token %}
            <fieldset>
                <legend>{% trans 'Log in' %}</legend>
                {% for field in form %}
                    <div class="clearfix">
                        {% if field.name == 'username' %}
                            <label for="id_username">{% trans "Username or email" %}</label>
                        {% else %}
                            {{ field.label_tag }}
                        {% endif %}
                        <div class="controls {% if field.errors %} control-group error{% endif %}">
                            {{ field }}

                            {% if field.errors %}
                                <span class='help-inline control-group error'>{{ field.errors|join:'<br />' }}</span>
                            {% endif %}

                            <span class="help-block">{{ field.help_text }}</span>

                        </div>
                    </div>                {% endfor %}
                <div class="actions">
                    <input type="submit" class="btn btn-primary" value="{% trans 'Log in' %}">&nbsp;<button type="reset" class="btn">{% trans 'Cancel' %}</button>
                </div>
            </fieldset>
        </form>
        <p><a href="{% url django.contrib.auth.views.password_reset %}">{% trans "Reset my password" %}</a></p>
        <script type="text/javascript">
            $(function(){
                $(".alert-message").alert();
                $('#mainForm').submit(function(){
                    $('#submit').button('loading');
                })
            });
            document.forms[1].elements[2].focus();
        </script>
    </div>
{% endblock %}