{% extends "base.html" %}
{% load i18n tz %}
{% block content %}
    <h1>{% trans "Dashboard" %}</h1>
    <section>

        <div class="row">

            <div class="span6">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>{% trans "User" %}:</th>
                        <td>{{ user }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Email for contact" %}:</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Member since" %}:</th>
                        <td>{{ user.date_joined|localtime }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Last Payment" %}:</th>
                        <td>{% if last_payment.date %}{{ last_payment.date }}{% else %}{% trans "unrealized" %}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Status of the Association" %}</th>
                        <td>
                            {% if expired %}
                                <span class="label label-important">
                                    <i class="icon-thumbs-down icon-white"></i>
                                    {% trans "Invalid Association" %}
                                </span>
                            {% else %}
                                <span class="label label-success">
                                    <i class="icon-thumbs-up icon-white"></i>
                                    {% trans "Valid Association" %}
                                </span>
                                <span class="muted">&nbsp;+{{ days_left }} {% trans "days" %} </span>
                            {% endif %}
                        </td>
                    </tr>
                    {% if expired %}
                    <tr>
                        <th span="2">
                            <a class="btn btn-success" href="{% url payment user.member.pk %}">
                                <i class="icon-shopping-cart icon-white"></i>{% trans "pay the annuity" %}
                            </a>
                        </th>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>

            </div>
            <div class="span6">

            </div>
        </div>
    </section>
{% endblock %}
