{% extends "base.html" %}

{% block content %}
    <h1></h1>
    <section>

        <div class="row">

            <div class="span6">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>Usuário:</th>
                        <td>{{ user }}</td>
                    </tr>
                    <tr>
                        <th>E-mail para contato:</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Membro desde:</th>
                        <td>{{ user.date_joined }}</td>
                    </tr>
                    <tr>
                        <th>Último pagamento:</th>
                        <td>{{ last_payment.date|default:"não realizado" }} </td>
                    </tr>
                    <tr>
                        <th>Status da Associação</th>
                        <td>
                            {% if expired %}
                                <span class="label label-important">
                                    <i class="icon-thumbs-down icon-white"></i>
                                    Associação Inválida
                                </span>
                            {% else %}
                                <span class="label label-success">
                                    <i class="icon-thumbs-up icon-white"></i>
                                    Associação Válida
                                </span>
                                <span class="muted">&nbsp;+{{ days_left }} dias </span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th span="2">
                            <a class="btn btn-success" href="{% url  payment  user.member.id %}">
                                <i class="icon-shopping-cart icon-white"></i> link para pagamento da anuidade</a>
                        </th>

                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="span6">

            </div>
        </div>
    </section>
{% endblock %}
