Ol&aacute; Associado(a)!<br><br>

A Associa&ccedil;&atilde;o Python Brasil fica muito feliz por ter voc&ecirc; como membro!
<br>
Cadastre-se na lista de emails dos(as) associados(as) (<a href="https://groups.google.com/forum/#!forum/apyb-associados">link</a>). L&aacute; voc&ecirc; consegue entrar em contato com os demais membros da APyB.
<br>
Caso queira mais informa&ccedil;&otilde;es aqui tem uns sites importantes:<br>
 - <a href="http://associacao.python.org.br">Site da Associa&ccedil;&atilde;o</a><br> 
 - <a href="http://associados.python.org.br">Site dos Associados </a><br>
 - <a href="http://python.org.br">Site da Comunidade </a><br>
 - <a href="http://python.org.br/eventos">Calend&aacute;rio de eventos </a><br>
 - <a href="http://python.org.br/comunidades-locais">Grupos perto de voc&ecirc; </a><br>
 - <a href="https://github.com/apyb">GitHub da Associa&ccedil;&atilde;o </a><br><br><br>

Tamb&eacute;m pode falar com a gente nas redes sociais:<br>
 - <a href="https://www.facebook.com/pythonbrasil/">Facebook </a><br>
 - <a href="https://twitter.com/@pythonbrasil">Twitter </a><br><br><br>

Algumas iniciativas legais:<br>
 - <a href="http://brasil.pyladies.com">PyLadies Brasil </a><br>
 - <a href="https://www.scipy.org">SciPy  </a><br>
 - <a href="https://djangogirls.org">Django Girls </a><br>
