{% extends "base.html" %}
{% load i18n tz gravatar %}
{% block title %}{% trans "Members" %}{% endblock %}
{% block navbar_members %}<li class="active"><a href="{% url 'members-list' %}">{% trans "Members" %}</a></li>{% endblock %}

{% block content %}
    <h1>{% trans "Members" %}</h1>

    <div class="row">
        <div class="span12">
            <div class="well">
                <form class="form-search">
                    <label><b>{% trans "Search members:" %}</b></label>
                    <input type="text" name="q" value= "{{ q }}" class="input-medium search-query">
                    <button type="submit" class="btn">{% trans "Search" %}</button>

                    <label><b>{% trans "Filter by category:" %}</b></label>
                    <div class="btn-group">
                    {% for category in categories %}
                        {% if forloop.first %}
                        <button class="btn{% if not active_category %} active{% endif %}">{% trans 'All' %}</button>
                        {% endif %}

                        {% if q %}
                        <button class="btn{% if category.id == active_category %} active{% endif %}" name="category" value="{{ category.id }}">{{ category }}</button>
                        {% else %}
                        <button class="btn{% if category.id == active_category %} active{% endif %}" name="category" value="{{ category.id }}">{{ category }}</button>
                        {% endif %}
                    {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="row">
                {% for member in object_list %}

                <div class="span4 member">
                    <div class="row">
                        <div class="span1">
                            {% if member.thumb_image %}
                                <img class="img-polaroid" style="width: 70px; height: 70px" src="{{ member.thumb_image }}" alt="">
                            {% else %}
                                <img class="img-polaroid" style="width: 70px; height: 70px"src="{{ member.update_thumbnail }}" alt="">
                            {% endif %}
                        </div>

                        <div class="span3">
                            {% if member.category_id == 1 %}
                                <span class="label label-success">
                                    <i class="icon-briefcase icon-white"></i>
                                    {{ member.category }}
                                </span>
                            {% else %}
                                <span class="label label-info">
                                    <i class="icon-headphones icon-white"></i>
                                    {{ member.category }}
                                </span>
                            {% endif %}
                            <span class="clearfix">{{ member.full_name }}</span>
                            <span class="clearfix">{% trans "Days remaining for next payment:" %} {{ member.get_count_down_payment_days }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            {% include "pagination.html" %}
        </div>
    </div>
{% endblock %}
