{% extends "base.html" %}
{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}
    <h1>Pedido de associação à APyB</h1>

    {% if not saved %}
    <form action="" method="post" accept-charset="utf-8" class="form-horizontal">
        <fieldset>
            {% csrf_token %}
            <table class='table'>
                {{ user_form.as_table }}
                {{ member_form.as_table }}
            </table>
            <div class='form-actions'>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </fieldset>
    </form>
    {% else %}
        <h2>You are registered!</h2>
    {% endif %}
{% endblock %}
