{% extends "base.html" %}
{% load i18n %}{% load bootstrap_toolkit %}
{% block title %}{{ flatpage.title }}{% endblock %}
{% block navbar_signup %}<li class="active"><a href="{% url members-signup %}">{% trans "Sign up" %}</a></li>{% endblock %}

{% block content %}
    <h1>{% trans Signup %}</h1>
    <div class="row">
        <form action="" method="post" accept-charset="utf-8" class="form-horizontal">
            {% csrf_token %}
            <div class="span6">
                <fieldset>
                    {{ form|as_bootstrap:"horizontal" }}
                    <div class='form-actions'>
                        <button type="submit" class="btn btn-primary">{% trans "Signup" %}</button>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}
