/*custom styles for site*/
.navbar-fixed-top .brand {
    color: #fff;
    float: left;
    margin-left: auto;
}

.clearfix{
    display: block;
}

.well form {
    margin-bottom:0;
}

.form-search label,
.form-search input,
.form-search>button {
    margin-right:6px;
}
