{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans "Python Brazil Association" %} | {% block title %}{% trans "Members of the Python Brazil Association" %}{% endblock %}</title>
    <meta name="description" content="{% trans "Members of the Python Brazil Association" %}">
    <meta name="author" content="{% trans "The Python Brazil Association was formed in April 2007 with the goal of supporting the communities related to the Python language and related technologies." %}">
    <link rel="image_src" href="{% static 'images/python-logo-official.png'%}">

    <!-- IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/docs.css' %}" rel="stylesheet">
    <link href="{% static 'css/website.css' %}" rel="stylesheet">
    {% block css %}{% endblock css %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" type="image/x-icon" href="http://associacao.python.org.br/favicon.ico">
    <link rel="apple-touch-icon" href="http://associacao.python.org.br/touch_icon.png">


    <!-- share configurations -->
    <meta property="og:site_name" content="{% trans "Members of the Python Brazil Association" %}">
    <meta property="og:image" content="http://associacao.python.org.br/logo.jpg">
    <meta property="og:url" content="http://associacao.python.org.br/associacao/sobre">
    <meta property="og:type" content="article">
    <meta property="og:description" content="{% trans "The Python Brazil Association was formed in April 2007 with the goal of supporting the communities related to the Python language and related technologies." %}">
    <meta property="og:title" content="{% trans "Members of the Python Brazil Association" %}">
    <meta property="fb:app_id" content="178374868904020">
    <meta property="og:image" content="http://associacao.python.org.br/logo.jpg/@@facebook-thumbnail">

</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50">
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{% trans "Python Brazil Association" %}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Useful Links" %}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="links-drop">
                  <li><a href="http://associacao.python.org.br/">{% trans "Association Website" %}</a></li>
                  <li><a href="http://www.pythonbrasil.org.br/">{% trans "PythonBrasil" %}</a></li>
                  <li><a href="http://www.python.org.br/">{% trans "Python BR" %}</a></li>
                  <li><a href="http://djangoproject.com/">{% trans "Django Framework" %}</a></li>
                  <li><a href="http://planet.python.org/">{% trans "Planet Python" %}</a></li>
                </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li class="dropdown" id="fat-menu">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-user icon-white"></i>
                        {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.email }}{% endif %}<b
                                class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'members-dashboard' %}">{% trans "dashboard" %}</a></li>
                        <li><a href="{% url 'password_change' %}">{% trans "change password" %}</a></li>
                        <li><a href="{% url 'members-form' %}">{% trans "update my profile" %}</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}">{% trans "logout" %}</a></li>
                    </ul>
                </li>
            {% else %}
                {% block navbar_members %}<li><a href="{% url 'members-list' %}">{% trans "Members" %}</a></li>{% endblock %}
                {% block navbar_login %}<li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>{% endblock %}
                {% block navbar_signup %}<li><a href="{% url 'members-signup' %}">{% trans "Sign up" %}</a></li>{% endblock %}
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container">

    {% block message %}
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                <a class="close" data-dismiss="alert" href="#">×</a>
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}
    {% endblock %}

    {% block content %}
      {% blocktrans %}
      <h1>Bootstrap starter template</h1>
      <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
      {% endblocktrans %}
    {% endblock content %}


    <footer class="footer">
        {% block footer %}
            <p class="pull-right"><a href="#">{% trans "Back to top" %}</a></p>
	        <p>Em caso de dúvida ou dificuldade com o sistema de associados, entre em contato por <a href="mailto:infra@python.org.br">e-mail</a>.</p>
            <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
            <p>This project uses <a href="https://structure101.com/">Structure101</a> for Code Analysis.</p>
            <p><a href="https://structure101.com/"><img src="https://structure101.com/static-content/images/s101_170.png"/></a></p>
        {% endblock footer %}
        </footer>

</div>


{#<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>#}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block js %}{% endblock js %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136790801-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136790801-3');
</script>
<!-- End Global site tag (gtag.js) - Google Analytics -->
</body>
</html>
