{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% trans "Python Brazil Association" %} | {% block title %}{% trans "Members of the Python Brazil Association" %}{% endblock %}</title>
    <meta name="description" content="{% trans "Members of the Python Brazil Association" %}">
    <meta name="author" content="{% trans "The Python Brazil Association was formed in April 2007 with the goal of supporting the communities related to the Python language and related technologies." %}">
    <link rel="image_src" href="{{ STATIC_URL }}images/python-logo-official.png">

    <!-- IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/docs.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/website.css" rel="stylesheet">
    {% block css %}{% endblock css %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" type="image/x-icon" href="http://associacao.python.org.br/favicon.ico">
    <link rel="apple-touch-icon" href="http://associacao.python.org.br/touch_icon.png">


    <!-- share configurations -->
    <meta property="og:site_name" content="{% trans "Members of the Python Brazil Association" %}">
    <meta property="og:image" content="http://associacao.python.org.br/logo.jpg">
    <meta property="og:url" content="http://associacao.python.org.br/associacao/sobre">
    <meta property="og:type" content="article">
    <meta property="og:description" content="{% trans "The Python Brazil Association was formed in April 2007 with the goal of supporting the communities related to the Python language and related technologies." %}">
    <meta property="og:title" content="{% trans "Members of the Python Brazil Association" %}">
    <meta property="fb:app_id" content="178374868904020">
    <meta property="og:image" content="http://associacao.python.org.br/logo.jpg/@@facebook-thumbnail">

</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50">

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">

        <div class="container">
            <a class="brand" href="/">{% trans "Python Brazil Association" %}</a>

            <ul class="nav" role="navigation">
                <li class="divider-vertical"></li>
                <li class="dropdown">
                <a id="links-drop" class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">{% trans "Useful Links" %}<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="links-drop">
                      <li role="presentation">
                          <a role="menuitem" target="_blank" tabindex="-1" href="http://associacao.python.org.br/">{% trans "Association Website" %}</a>
                      </li>
                      <li role="presentation">
                          <a role="menuitem" target="_blank" tabindex="-1" href="http://www.pythonbrasil.org.br/">{% trans "PythonBrasil" %}</a>
                      </li>                      <li role="presentation">
                          <a role="menuitem" target="_blank" tabindex="-1" href="http://www.python.org.br/">{% trans "Python BR" %}</a>
                      </li>                      <li role="presentation">
                          <a role="menuitem" target="_blank" tabindex="-1" href="http://djangoproject.com/">{% trans "Django Framework" %}</a>
                      </li>                      <li role="presentation">
                          <a role="menuitem" target="_blank" tabindex="-1" href="http://planet.python.org/">{% trans "Planet Python" %}</a>
                      </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav pull-right">
                {% if user.is_authenticated %}
                    <li class="dropdown" id="fat-menu">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-user icon-white"></i>
                            {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.email }}{% endif %}<b
                                    class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'members-dashboard' %}">{% trans "dashboard" %}</a></li>
                            <li><a href="{% url 'password_change' %}">{% trans "change password" %}</a></li>
                            <li><a href="{% url 'members-form' %}">{% trans "update my profile" %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}">{% trans "logout" %}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="divider-vertical"></li>
                    {% block navbar_members %}<li><a href="{% url 'members-list' %}">{% trans "Members" %}</a></li>{% endblock %}
                    <li class="divider-vertical"></li>
                    {% block navbar_login %}<li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>{% endblock %}
                    <li class="divider-vertical"></li>
                    {% block navbar_signup %}<li><a href="{% url 'members-signup' %}">{% trans "Sign up" %}</a></li>{% endblock %}
                <li class="divider-vertical"></li>
                {% endif %}
            </ul>
        </div> <!-- container -->
    </div> <!-- navbar-inner -->
</div> <!-- navbar -->


<div class="container">

    {% block message %}
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                <a class="close" data-dismiss="alert" href="#">×</a>
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}
    {% endblock %}

    {% block content %}
      {% blocktrans %}
      <h1>Bootstrap starter template</h1>
      <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
      {% endblocktrans %}
    {% endblock content %}


    <footer class="footer">
        {% block footer %}
            <p class="pull-right"><a href="#">{% trans "Back to top" %}</a></p>
	        <p>Em caso de dúvida ou dificuldade com o sistema de associados, entre em contato por <a href="mailto:infra@python.org.br">e-mail</a>.</p>
            <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
            <p>This project uses <a href="https://structure101.com/">Structure101</a> for Code Analysis <img src="https://structure101.com/static-content/images/s101_170.png"/></p>
        {% endblock footer %}
        </footer>

</div>


{#<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>#}
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
{% block js %}{% endblock js %}
</body>
</html>
