<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Django Twitter Bootstrap</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% load compress %}
    {% compress css %}
    <link type="text/less" href="{{ STATIC_URL }}less/bootstrap.less" rel="stylesheet">
    <link type="text/less" href="{{ STATIC_URL }}less/responsive.less" rel="stylesheet">
    {% endcompress %}

    <!-- With DEBUG off, this can be inside the compress tag as well. -->
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>


    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="i-bar"></span>
                <span class="i-bar"></span>
                <span class="i-bar"></span>
            </a>
            <a class="brand" href="#">Django Twitter Bootstrap</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="{% ifequal request.path "/" %}active{% endifequal %}"><a href="/">Home</a></li>
                    <li class="{% ifequal request.path "/about" %}active{% endifequal %}"><a href="/about">About</a></li>
                    <li class="{% ifequal request.path "/contact" %}active{% endifequal %}"><a href="/contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

    {% block content %}{% endblock %}

</div> <!-- /container -->


<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
{% compress js %}
<script src="{{ STATIC_URL }}js/tests/vendor/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
{% endcompress %}

</body>
</html>